{.extends "/layout/page.html"}

{.block breadcrumbs}
<a href="/">Home</a> / <b>{title}</b>
{.end breadcrumbs}

{.block head}
<link rel="stylesheet" href="/jquery.autocomplete.css" type="text/css" />
{.end head}

{.block scripts}
<script href="/jquery.autocomplete.js"></script>
{.end scripts}

{.block script}
/*
$(document).bind("ready", function() {
    $("#tagsString").autocomplete("/tags/autocomplete.txt", { 
        multiple: true, 
        autoFill: true 
    });
});
*/
{.end script}

{.block content}
<form method="POST" action="/articles">
    {.section key}
    <input type="hidden" name="key" value="{key}" />
    {.end}
    <fieldset>
        <legend>Edit the article</legend>
        <ol>
            <li>
                <label for="title">Title</label>
                <input type="text" name="title" value="{title}" style="width: 60em" />
            </li>
            <li>
                <label for="content">Content</label>
                <textarea name="content" class="content" style="height: 20em">{content}</textarea>
            </li>
            <li>
                <label for="category">Category</label>
                <select name="category">
                    {.repeated section categories}
                    <option value="{key}">{label}</option>
                    {.end}
                </select>
            </li>
            <li>
                <label for="tagsString">Tags</label>
                <input type="text" id="tagsString" name="tagsString" value="{tagsString}" style="width: 40em" />
            </li>
        </ol>
    </fieldset>
    <fieldset class="submit">
        <button type="submit">Save</button>
        <button type="reset">Reset</button>
        <button>Cancel</button>
    </fieldset>
</form>
{.end content}
