<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <title>{{status}} {{statusString}}</title>
        <link rel="stylesheet" media="screen" href="/screen.css" type="text/css" />
        <meta name="description" content="{{statusString}}" />
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    </head>
    <body>
        {content}
        <footer>
            <p>Copyright © 2009 <a href="http://gmosx.com" target="blank">George Moschovitis</a>.</p>
        </footer>
        </body>
</html>    
